<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - F4 SHOP</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/grid.css">
    <link rel="stylesheet" href="~/css/responsives.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!--=============== ICONSCOUT ===============-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
@inject IHttpContextAccessor accesser
<body>
    <div class="app">
        <header class="header">
            <div class="grid wide">
                <nav class="header__navbar hide-on-mobile-table">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item--has-qr header__navbar-item--separate">Vào
                            của
                            hàng trên ứng dụng F4-Shop
                            <div class="header__qr">
                                <img src="~/img/qr_code.png" alt="" class="header__qr-img">
                                <div class="header__qr-apps">
                                    <a href="" class="header__qr-link">
                                        <img src="~/img/app-store.png" alt="App Store"
                                            class="header__qr-download-img">
                                    </a>
                                    <a href="" class="header__qr-link">
                                        <img src="~/img/google_play.png" alt="Google Play"
                                            class="header__qr-download-img">
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="header__navbar-item">
                            <span class="header__navbar-item--no-pointer">Kết nối</span>
                            <a href="" class="header__navbar-icon-link"><i
                                    class=" header__navbar-icon fa-brands fa-facebook"></i></a>
                            <a href="" class="header__navbar-icon-link"><i
                                    class=" header__navbar-icon fa-brands fa-instagram"></i></i></a>

                        </li>
                    </ul>
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item--has-notify">
                            <a href="" class="header__navbar-item-link">
                                <a href="" class="header__navbar-icon-link"><i
                                        class=" header__navbar-icon fa-regular fa-bell"></i></a>
                                Thông báo
                            </a>
                            <div class="header__notify">
                                <header class="header__notify-header">
                                    <h3>Thông báo mới nhận</h3>
                                </header>
                                <ul class="header__notify-list">
                                    <li class="header__notify-item header__notify-item--viewed ">
                                        <a href="" class="header__notify-link">
                                            <div class="header__notify-img"><img src="/html/Image/MyPham8.jpg" alt=""
                                                    class=""></div>
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Xác thực chính hãnh nguồn gốc của các
                                                    sản
                                                    phẩm 0hui</span>
                                                <span class="header__notify-descriotion">Hidden tag là giải pháp xác
                                                    thực
                                                    hàng chính hãng bằng công nghệ tiên tiến nhất hiện nay</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item header__notify-item--viewed ">
                                        <a href="" class="header__notify-link">
                                            <div class="header__notify-img"><img src="/html/Image/MyPham4.jpg" alt=""
                                                    class=""></div>
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Sale Sốc bộ dưỡng 0hui The First tái
                                                    tạo
                                                    trẻ hoá da SALE OFF 70%</span>
                                                <span class="header__notify-descriotion">Mô tả mỹ phẩm 0hui chính
                                                    hãng</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item header__notify-item--viewed ">
                                        <a href="" class="header__notify-link">
                                            <div class="header__notify-img"><img src="/html/Image/MyPham3.jpg" alt=""
                                                    class=""></div>
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">Mỹ phẩm chính 0thui hãng</span>
                                                <span class="header__notify-descriotion">Mô tả mỹ phẩm 0hui chính
                                                    hãng</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <footer class="header__notify-footer">
                                    <a href="" class="header__notify-footer-btn">Xem tất cả</a>
                                </footer>
                            </div>
                        </li>
                        <li class="header__navbar-item">
                            <a href="" class="header__navbar-item-link"> <a href="" class="header__navbar-icon-link"><i
                                        class="header__navbar-icon fa-regular fa-circle-question"></i></a> Trợ giúp</a>
                        </li>
                        <li id=""
                            class="header__navbar-item header__navbar-item--strong header__navbar-item--separate js-enter-form"><a class="header__navbar-item-link" href="/User/Register">Đăng ký</a></li>
                        @* <li id="" class="header__navbar-item header__navbar-item--strong js-login-form">Đăng nhập</li> *@
                        @if (@accesser?.HttpContext?.Session.GetString("UserName") == null)
                        {
                            <li class="header__navbar-item header__navbar-item--strong js-login-form" ><a class="header__navbar-item-link" href="/User/Login">Đăng nhập</a></li>
                            @* onclick="openLoginModal()" *@
                        }
                        else
                        {
                            <li class="header__navbar-item header__navbar-user">
                                <img src="~/img/no_user.jpg" alt="" class="header__navbar-user-img">
                                <span class="header__navbar-user-name">@accesser?.HttpContext?.Session.GetString("UserName")</span>
                                <ul class="header__navbar-user-menu">
                                    <li class="header__navbar-user-item">
                                        <a href="">Tài khoản của tôi</a>
                                    </li>
                                    <li class="header__navbar-user-item">
                                        <a href="">Địa chỉ của tôi</a>
                                    </li>
                                    <li class="header__navbar-user-item">
                                        <a href="">Đơn mua</a>
                                    </li>
                                    <li class="header__navbar-user-item header__navbar-user-item--separate">
                                        <a href="/User/Logout">Đăng xuất</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </nav>
                <!--Header with search-->
                <div class="header-with-search">
                    @* <label for="category__mobile-input" class="category__navbar-btn">
                        <i class=" header__mobile-search-icon fa-solid fa-bars"></i>
                    </label>
                    <input type="checkbox" hidden id="category__mobile-input" class="catagory__mobile-input">
                    <label for="category__mobile-input" class="category__overlay"></label>

                    <label for="mobile-search-checkbock" class="header__mobile-search">
                        <i class="header__mobile-search-icon fa-solid fa-magnifying-glass"></i>
                    </label> *@
                    <div class="header__logo hide-on-table">
                        <a href="/Home/Index" class="header__logo-link">
                            <span class="header__logo-icon ">F4 SHOP</span>
                        </a>
                    </div>

                    <input class="header__search-box" type="checkbox" hidden id="mobile-search-checkbock">

                    <div class="header__search">
                        <div class="header__search-input-wrap">
                            <input type="text" class="header__search-input" onkeyup="searchProducts(this)" placeholder="Tìm kiếm">

                            <!--Search history-->
                            <div class="header__search-history">
                                @* <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3> *@
                                <ul class="header__search-history-list">
                                    @* <li class="header__search-history-item">
                                        <a href="">Kem dưỡng da</a>
                                    </li>
                                    <li class="header__search-history-item">
                                        <a href="">Kem trị mụn</a>
                                    </li> *@
                                </ul>
                            </div>
                        </div>
                        <div class="header__search-select">
                            <span class="header__search-select-label">Trong shop</span>
                            <i class="header__search-select-icon fa-solid fa-chevron-down"></i>
                            <ul class="header__search-option">
                                <li class="header__search-option-item header__search-option-item--active">
                                    <span>Trong shop</span>
                                    <i class="fa-solid fa-check"></i>
                                </li>
                                <li class="header__search-option-item header__search-option-item--active">
                                    <span>Ngoài shop</span>
                                    <i class="fa-solid fa-check"></i>
                                </li>
                            </ul>
                        </div>
                        <button class="header__search-btn">
                            <i class="header__search-btn-icon fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                    <!--Cart layout-->
                    <div class="header__cart">
                        <a href="/Cart/Index" class="header__cart-wrap">
                            <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                            @if (@accesser?.HttpContext?.Session.GetInt32("CartCount") == null)
                            {
                                <span class="header__cart-notice">0</span>
                            }
                            else
                            {
                                <span class="header__cart-notice">@accesser?.HttpContext?.Session.GetInt32("CartCount")</span>
                            }
                            <!--No cart: header__cart-list--no-cart-->
                            @if (@accesser?.HttpContext?.Session.GetInt32("UserID") == 0) {
                                <div class="header__cart-list header__cart-list--no-cart">
                                    <img src="~/img/no-cart.png" alt="" class="header__cart-no-cart-img">
                                    <span class="header__cart-list-no-cart-msg">
                                        Chưa có sản phẩm
                                    </span>
                                </div> 
                            } else {
                                <div class="header__cart-list">
                                    <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                                    <ul class="header__cart-list-item">
                                        @foreach (var cart in Model.CartDetails)
                                        {
                                            <li class="header__cart-item">
                                                <div class="header__cart-item-img">
                                                    <img src="~/img/@cart.sImageUrl" class="header__cart-item-img" alt="">
                                                </div>
                                                <div class="header__cart-item-info">
                                                    <div class="header__cart-item-head">
                                                        <h5 class="header__cart-item-name">@cart.sProductName</h5>
                                                        <div class="header__cart-item-price-wrap">
                                                            <span class="header__cart-item-price">@cart.dUnitPrice đ</span>
                                                            <span class="header__cart-item-multifly">X</span>
                                                            <span class="header__cart-item-qnt">@cart.iQuantity</span>
                                                        </div>
                                                    </div>
                                                    <div class="header__cart-item-body">
                                                        <span class="header__cart-item-description">
                                                            Phân loại hàng:Bạc
                                                        </span>
                                                        <span class="header__cart-item-remove">Xoá</span>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                    <div class="header__cart-btn">
                                        <botton class="header__cart-btn-sub">Xem giỏ hàng</botton>
                                    </div>
                                </div>
                            }
                        </a>
                    </div>
                </div>
            </div>
            <ul class="header__sort-bar">
                <li class="header__sort-item">
                    <a href="" class="header__sort-link">Liên quan</a>
                </li>
                <li class="header__sort-item header__sort-item--active">
                    <a href="" class="header__sort-link">Mới nhất</a>
                </li>
                <li class="header__sort-item">
                    <a href="" class="header__sort-link">Bán chạy</a>
                </li>
                <li class="header__sort-item">
                    <a href="" class="header__sort-link">Giá</a>
                </li>
            </ul>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="footer">
            <div class="grid wide footer__content">
                <div class="row">
                    <div class="col l-2-4 c-6 m-4">
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">F4 Shop Mail</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 c-6 m-4">
                        <h3 class="footer__heading">Giới thiệu</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Giới thiệu</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Tuyển dụng </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Điều khoản</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 c-6 m-4">
                        <h3 class="footer__heading">Danh mục</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fab fa-facebook"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class=" footer-item__link">
                                    <i class="footer-item__icon fab fa-instagram"></i>
                                    Instagram
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fa-brands fa-linkedin"></i>
                                    Linking
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 c-6 m-4">
                        <h3 class="footer__heading">Thep dõi khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">VanCong Shop Mail</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 c-12 m-4">
                        <h3 class="footer__heading">Vào cửa hàng F4 SHOP</h3>
                        <div class="footer__download">
                            <img src="~/img/qr_code.png" alt="" class="footer__download-qr">
                            <div class="footer__download-apps">
                                <a href="#" class="footer__download-apps-link">
                                    <img src="~/img/google_play.png" alt="Google Play" class="footer__download-apps-img">
                                </a>
                                <a href="#" class="footer__download-apps-link">
                                    <img src="~/img/app-store.png" alt="App Store" class="footer__download-apps-img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="grid wide">
                        <p class="footer__text">2022 - Bản quyền thuộc về công ty F4 Shop</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--Modal layoyt-->
    <div class="modal js-modal">
        <div class="modal__overlay">

        </div>
        <div class="modal__body">
            <!--Register form-->

            <!--Login form-->
            <div class="auth-form">
                <form action="/User/Login" method="post" class="auth-form__container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading">Đăng nhập</h3>
                        <span class="auth-form__switch-btn"><i class="fa-solid fa-xmark auth-form__close"></i></span>
                    </div>
                    <div class="auth-form__form">
                        <div class="auth-form__group"> 
                            <input type="text" name="email" class="auth-form__input" placeholder="Email của bạn" />
                        </div>
                        <div class="auth-form__group">
                            <input type="password" name="password" class="auth-form__input" placeholder="Mật khẩu của bạn" />
                        </div>
                    </div>
                    <div class="auth-form__aside">
                        <div class="auth-form__help">
                            <a href="" class="auth-form__help-link auth-form__help-link">Quên mật khẩu</a>
                            <span class="auth-form__help-separate"></span>
                            <a href="" class="auth-form__help-link">Cần trợ giúp</a>
                        </div>
                    </div>
                    <div class="auth-form__controls">
                        <button class="btn auth-form__controls-back btn--normal js-login-form-close">TRỞ
                            LẠI</button>
                        <button type="submit" class="btn btn--primary">ĐĂNG NHẬP</button>
                    </div>
                </form>
                <div class="auth-form__socials">
                    <a href="" class="auth-form__socials--facebook btn btn--size-s btn--size-color btn--with-icon">
                        <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                        <span class="auth-form__socials-title">
                            Kết nối với Facebook
                        </span>
                    </a>
                    <a href="" class="auth-form__socials--google btn btn--size-s btn--with-icon">
                        <i class="auth-form__socials-icon fab fa-google"></i>
                        <span class="auth-form__socials-title">
                            Kết nối với Facebook
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="" id="toast">
        @* <div class="toast toast--success">
            <div class="toast__icon">
                <i class="uil uil-check-circle"></i>
            </div>
            <div class="toast__body">
                <h3 class="toast__title">Thành công</h3>
                <p class="toast__msg">Thêm thành công</p>
            </div>
            <div class="toast__close">
                <i class="uil uil-times"></i>
            </div>
        </div> *@
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
